<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CF556E61E7E35FA00C77C64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF556FA1E7E35FA00C77C64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF557051E7E35FA00C77C64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
